<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test1">
		<parameter name="driverValue" value="firefox" />
		<parameter name="url" value="https://www.google.com/" />
		<classes>
			<class name="testNG_basics.LaunchBrowserTest" />

			<class
				name="testNG_basics.Priority_Groups_DependsOnMethodsTest" />
			<class name="testNG_basics.ParametersTest" />
			<class name="assertions.Assert_1" />

		</classes>
	</test>
	<test thread-count="5" name="Test2">
		<parameter name="driverValue" value="firefox" />
		<parameter name="url" value="https://www.google.com/" />
		<classes>
			<class name="assertions.Assert_1" />

		</classes>
	</test>


	<test thread-count="5" name="Test3">
		<parameter name="driverValue" value="firefox" />
		<parameter name="url" value="https://www.google.com/" />
		<classes>
			<class
				name="testNG_basics.Priority_Groups_DependsOnMethodsTest" />
			<class name="testNG_basics.ParametersTest" />

		</classes>
	</test>







	<!-- Test -->
</suite> <!-- Suite -->
